<!DOCTYPE html>

<html>
<head>
    <title>
        Weather App
    </title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Welcome to Weather App. Please enter location:</p>
        <form>
            <input type="text" placeholder="location">
            <button>Search</button>
        </form>
        <div class="weather-display">

        </div>
    </div>
    {{>footer}}
    <script src="./js/scrpt.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>